<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.misaeljzg.traemefood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/letrastraeme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/letrastraeme"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.TraemeFood">
        <activity android:name=".chat.LatestMessagesActivity"></activity>
        <activity android:name=".chat.ChatLogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.NewMessagerActivity" />
        </activity>
        <activity android:name=".chat.NewMessagerActivity" />
        <activity android:name=".carrito.CarritoActivity" />
        <activity android:name=".sesion.ForgotActivity" />
        <activity android:name=".carrito.CarritoActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".sesion.ForgotActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".sesion.RegistroActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sesion.LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>